@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* no select */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "VT323", monospace;
  /* Option 1  */

  background-image: url("/pattern18px.png");
  background-repeat: repeat;
  background-color: #8a653b;

  /* Option 2  */

  /* background-color: #2a324b;   */
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
